
 <% @projects.each do |project| %>
  <tr class="project" id="<%= dom_id(project) %>">
    <td><%= project.name %></td>
    <td><%= project.tech_used %></td>
    <td><%= link_to 'Show', project %></td>
    <% if policy(project).update? %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <% end %>
    <% if policy(project).destroy? %>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% if policy(project).publish? && project.published? == false %>
      <td><%= link_to 'Publish', project_path(project, project: { published: true }) , method: :put %>
    <% end %>
  </tr>
<% end %>

<br />

<% if policy(Project).create? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
