<h2><%= @project.name %></h2>
<%= image_tag @project.image_url %>
<p>Published: <%= @project.published %></p>
<p>Link to site: <%= @project.http_link %></p>
<p>Technologies used: <%= @project.tech_used %></p>
<p>Description: <%= @project.description %></p>

<% if policy(@project).update? %>
  <%= link_to 'Edit', edit_project_path(@project) %><br><br>
<% end %>
<% if policy(@project).publish? && @project.published? == false %>
  <%= link_to 'Publish', project_path(@project, project: { published: true }), method: :put %><br><br>
<% end %>
<% if policy(@project).destroy? %>
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<% end %>



<!--
<h3>Comments: </h3>

<% @comments.each do |com| %>
  <tr id="<%= dom_id(com) %>-1">
    <td><%= com.author %></td></tr>
  <tr id="<%= dom_id(com) %>-2">
    <td><%= com.content %></td>
    <% if current_user.present? && current_user.editor? %>
      <td><%= link_to 'Destroy Comment', [@project, com], method: :delete %></td>
      <% if com.approved? == false %>
        <td><%= link_to 'Approve', post_comment_path(@project, com, comment: { approved: true }) , method: :put %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>


<h4>Add a comment</h4>

<% if current_user.present? %>
  <%= render 'comments/form' %>
<% else %>
  <p>Login to comment</p>
<% end %>
<% if current_user.present? && current_user.editor? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
-->
<%= link_to 'Back', projects_path %>
