<head>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<%= stylesheet_link_tag "font-awesome", :media => "all" %>
<%= stylesheet_link_tag "scaffolds", :media => "all" %>
<%= stylesheet_link_tag "common_pages", :media => "all" %>
<%= javascript_include_tag "application" %>
</head>

<body>

  <div class="mainmenu">
      <div class="menuwrapper">
          <div class="menulist">
              <ul class="items">
                  <li class="menuitem">
                    <%= link_to "ABOUT ME", about_me_path %>
                  </li>
                  <li class="menuitem">
                    <%= link_to "PROJECTS", projects_path %>
                  </li>
                  <li class="menuitem">
                    <%= link_to "BLOG", posts_path %>
                  </li>
              </ul>
          </div>
          <a href="#home" class="logoblock">
              <span class="companyname">Wu Wei</span>
          </a>

          <div class="socialblock">

              <!-- Place your social links here -->

              <a href="#" title="Facebook" class="socialicon"><i class="fa fa-facebook-square"></i></a>
              <a href="#" title="Twitter" class="socialicon"><i class="fa fa-twitter-square"></i></a>
              <a href="#" title="Google Plus" class="socialicon"><i class="fa fa-google-plus-square"></i></a>
              <a href="#" title="LinkedIn" class="socialicon"><i class="fa fa-linkedin-square"></i></a>

          </div>
      </div>
  </div>

  <% if policy(Post).create? %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>

  <div class="block whiteblock blogblock">
    <div id="blog" class="block-container">
      <div class="hexagon hexagon-top">
        <div class="outer"></div>
        <div class="inner"></div>
      </div>

      <h2 class="title">Bloggin'</h2>
      <div class="description">Blog posts about technology</div>
      <% @posts.each do |post| %>
        <div class="post">
          <h3 class="title"><%= post.title %></h3>
          <div class="author">NEED TO ADD AUTHOR AND TIME STAMP</div>
          <div class="post-body column-2"><%= post.body %></div>
          <div class="more-link">
            <%= link_to 'Read More', post %>
          </div>
          <% if policy(post).update? %>
            <div class="basicbutton"><%= link_to 'Edit', edit_post_path(post) %></div>
          <% end %>
          <% if policy(post).destroy? %>
            <div class="basicbutton"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <% end %>
          <% if policy(post).publish? && post.published? == false %>
            <div class="basicbutton"><%= link_to 'Publish', post_path(post, post: { published: true }) , method: :put %></div>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="block colorblock twitterblock">
      <div class="block-container">
          <div class="twitterlogo"><i class="icon-twitter"></i></div>
          <div class="messages-container">
              <div class="message active">
                  <div class="content">
                      Twitter Feed.
                  </div>
                  <div class="author">@NEED AUTHOR AND DATE</div>
              </div>

              <div class="message">
                  <div class="content">
                      Maybe should include another feed.
                  </div>
                  <div class="author">@NEED AUTHOR AND DATE</div>
              </div>

              <div class="message">
                  <div class="content">
                      Maybe posts from people I follow on Twitter?
                  </div>
                  <div class="author">@NEED AUTHOR AND DATE</div>
              </div>
          </div>
      </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
