<head>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<%= stylesheet_link_tag "font-awesome", :media => "all" %>
<%= stylesheet_link_tag "scaffolds", :media => "all" %>
<%= stylesheet_link_tag "common_pages", :media => "all" %>
<%= javascript_include_tag "application" %>
</head>

<body>
  <%= render 'layouts/nav' %>

  <div id="home" class="homeblock aboutmeblock block">
    <div class="block-container">
      <div id="description-home", class="active">
        <div class="wrapper">
          <p class="developer">How did a catastrophe analyst become a web developer?</p>
          <h1 class="maintext">It started with the open road</h1>
          <p class="descriptiontext">Long term travel changes you. For me, it set me on my path to become a web developer and gave me a set of principles to apply to my code...</p>
        </div>
      </div>
      <div id="picture-home", class="active">
        <div class="wrapper">
          <div class="tablet container">
            <div class="stack">
              <img class="gadget" src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/oz_tree_380.jpg">
            </div>
            <div class="shadow">
            </div>
          </div>

          <div class="phone container">
            <div class="stack">
              <img class="gadget" src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/kitty_bite_240.jpg">
            </div>
            <div class="shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--

  <div class="teamblock whiteblock block">
      <div id="team" class="block-container">
          <h2 class="title">CHANGE ME</h2>
          <div class="description">CHANGE ME</div>
          <div class="teamcontainer">
              <div class="personal">
                  <div class="photo">
                      <img src="img/team/director.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                      </div>
                  </div>
              </div>

              <div class="personal">
                  <div class="photo">
                      <img src="img/team/designer.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Dribbble" class="socialicon"><i class="icon-dribbble"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                      </div>
                  </div>
              </div>

              <div class="personal">
                  <div class="photo">
                      <img src="img/team/developer.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                          <a href="#" title="GitHub" class="socialicon"><i class="icon-github"></i></a>
                      </div>
                  </div>
              </div>

              <div class="personal">
                  <div class="photo">
                      <img src="img/team/seo.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="colorblock block priceblock">
      <div id="price" class="block-container">

          <h2 class="title">CHANGE ME</h2>
          <div class="description">CHANGE ME</div>
          <div class="pricetable">
              <div class="priceitem bronze">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$9</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>

              <div class="priceitem silver">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$19</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>

              <div class="priceitem gold">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$29</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>

              <div class="priceitem diamond">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$39</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>
          </div>

          <div class="infoblock">
              <h3 class="title">CHANGE ME</h3>
              <div class="subscription">
                  CHANGE ME
              </div>
              <div class="contacticons">
                  <div class="item">
                      <i class="icon-phone"></i>
                      <span class="sign">CHANGE ME</span>
                  </div>

                  <a href="#" class="item">
                      <i class="icon-envelope"></i>
                      <span class="sign">CHANGE ME</span>
                  </a>

                  <a href="#" class="item">
                      <i class="icon-skype"></i>
                      <span class="sign">CHANGE ME</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
 -->
  <div class="block whiteblock blogblock">
    <div id="blog" class="block-container">

      <h2 class="title">My Path to Programming</h2>
      <div class="description">In Chronological Resume Format</div>
      <div class="post">
        <h3 class="title">Introduction to Computer Programming</h3>
        <div class="author">2004</div>
        <div class="post-body column-2">
          My last semester at Willamette University, I elected to take a computer programming course. For my final product I created an application for novice guitar players, which allowed them to CRUD and playback notes, chords, and songs. It allowed the user to associate notes with chords, and chords with songs. I felt proud of what I accomplished and enjoyed the course, but didn't really make a connection with it as a career option.
        </div>
        <h3 class="title">Microsoft Excel Macros</h3>
        <div class="author">2006-present</div>
        <div class="post-body column-2">
          Starting with my Admin position at Washington Mutual and progressing to current day, if I found a task that was repeated in Excel, I created a macro. MS Excel macros are ugly and not not exactly the most exciting "programming", however, they hold enormous business value.
        </div>
        <h3 class="title">MSSQL Queries</h3>
        <div class="author">2008-2010</div>
        <div class="post-body column-2">
          During my employment as a Catastrophe Analyst with Guy Carpenter, I had to write SQL queries for large data sets.
        </div>
        <h3 class="title">Founder of Snappacker.com</h3>
        <div class="author">2012</div>
        <div class="post-body column-2">
          When I returned home from my year long trip around the world, and while working for Pacific Coast Feather, I wanted to give back to the travel community that had given so much to me. I began working with a developer friend on the business Snappacker. My responsibilities as the founder included:
          <ul>
            <li>Developing initial idea, vision, and mission.</li>
            <li>Creative design lead. I designed the look and feel of the entire application.</li>
            <li>Product/project lead. I didn't write the code myself, but I came up with the features, the release schedule, and managed the projects associated.</li>
            <li>All business related expenses and administrative duties</li>
          </ul>
          Due to capital constraints, the company/project was put on hold prior to launch. This was the pivot point in my trajectory to becoming a programmer.
        </div>
        <h3 class="title">Internet Code Schools</h3>
        <div class="author">2012</div>
        <div class="post-body column-2">
          As noted, Snappacker was put on hold. This was a project dear to my heart and wasn't going to allow a failure to raise enough capital stop me. I started with html to get my feet wet and later moved my way up the language complexity to ruby. Using, books and online tutorials like w3schools railsguides, and hartl, as well as learning aides like codecademy and codeschool, I found myself enthralled. For the first time in my life, I could envision myself as a programmer.
        </div>
        <h3 class="title">Code Fellows</h3>
        <div class="author">2013</div>
        <div class="post-body column-2">
          I wanted to be a programmer badly and didn't want to wait years to learn code on my own after work. I weighed my options, and going back to school was by far the best choice. Code Fellows stuck out to me as what would work best for me. Leaving my job to go back to school was a scary prospect, but it was something I had to risk. Today, I'm a full stack Ruby on Rails developer
        </div>
        <h3 class="title">Projects</h3>
        <div class="author">2013</div>
        <div class="post-body column-2">
            Rebuilding Rails - using the book "Rebuilding Rails", I created a more basic, but similar framework to Rails</br>
            Grubly - An app for boutique restaurants to track inventory and allow online ordering</br>
            Snappacker - An app for lower budget travelers. Includes simplified travel guides, simplified searching, and better recommendation system
        </div>
        <a href="http://localhost:3000/projects" class="more-link">Click for more information</a>
        <h3 class="title">Volunteering</h3>
        <div class="author">2013</div>
        <div class="post-body column-2">
          Worked with 8 grade girls for the "Hour of Code" program. The girls used games where they controlled or created the actions with core concepts used in programming like conditionals and loops.
        </div>
        <a href="https://drive.google.com/file/d/0BzCK_nFtvhM_bDF3Rm5LS3B3MW8/edit?usp=sharing" target="_blank" class="more-link">View PDF of My Resume</a>
      </div>
    </div>
  </div>

  <div class="skillsblock block grayblock">
    <div class="block-container">
      <h2 class="title">The Tao of Code</h2>
      <div class="description">The Main Taoist Principles In Code</div>
      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <img src="">
            </div>
          </div>
          <h4 class="title">CHANGE ME</h4>
          <div class="description">
            CHANGE ME
          </div>
        </div>
      </div>

      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <i class="icon-pencil"></i>
            </div>
          </div>
          <h4 class="title">CHANGE ME</h4>
          <div class="description">
            CHANGE ME
          </div>
        </div>
      </div>

      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <i class="icon-time"></i>
            </div>
          </div>
          <h4 class="title">CHANGE ME</h4>
          <div class="description">
            CHANGE ME
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contacts" class="block colorblock contactsblock">
    <div class="map">
      <img id="map-canvas" src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/seattle_lights.jpg">
    </div>
    <div class="block-container">
      <div class="wrapper">
        <h2 class="title">Wanna talk or connect with me?</h2>
        <div class="contact-info">
          <div class="title">Contact via e-mail</div>
          <a href="mailto:dylangrant@gmail.com" target="_top">dylangrant@gmail.com</a>
        </div>

        <div class="contact-info">
          <div class="title">linkedin</div>
          <a href="http://www.linkedin.com/in/dylangrant">linkedin.com/in/dylangrant</a>
        </div>

        <div class="contact-info">
          <div class="title">twitter</div>
          <a href="https://twitter.com/dgrant069">twitter.com/dgrant069</a>
        </div>

        <div class="contact-info">
          <div class="title">facebook</div>
          <a href="https://www.facebook.com/dylan.a.grant">facebook.com/dylan.a.grant</a>
        </div>

        <div class="contact-info">
          <div class="title">github</div>
          <a href="https://github.com/dgrant069">github.com/dgrant069</a>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
