<head>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<%= stylesheet_link_tag "font-awesome", :media => "all" %>
<%= stylesheet_link_tag "scaffolds", :media => "all" %>
<%= stylesheet_link_tag "common_pages", :media => "all" %>
<%= javascript_include_tag "application" %>
</head>

<body>
  <%= render 'layouts/nav' %>

  <div id="home" class="homeblock aboutmeblock block">
    <div class="block-container">
      <div id="description-home", class="active">
        <div class="wrapper">
          <p class="developer">How did a catastrophe analyst become a web developer?</p>
          <h1 class="maintext">It started with the open road</h1>
          <p class="descriptiontext">Long term travel changes you. For me, it set me on my path to become a web developer and gave me a set of principles to code by...</p>
        </div>
      </div>
      <div id="picture-home", class="active">
        <div class="wrapper">
          <div class="tablet container">
            <div class="stack">
              <img class="gadget" src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/oz_tree_380.jpg">
            </div>
            <div class="shadow">
            </div>
          </div>

          <div class="phone container">
            <div class="stack">
              <img class="gadget" src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/kitty_bite_240.jpg">
            </div>
            <div class="shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--

  <div class="teamblock whiteblock block">
      <div id="team" class="block-container">
          <h2 class="title">CHANGE ME</h2>
          <div class="description">CHANGE ME</div>
          <div class="teamcontainer">
              <div class="personal">
                  <div class="photo">
                      <img src="img/team/director.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                      </div>
                  </div>
              </div>

              <div class="personal">
                  <div class="photo">
                      <img src="img/team/designer.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Dribbble" class="socialicon"><i class="icon-dribbble"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                      </div>
                  </div>
              </div>

              <div class="personal">
                  <div class="photo">
                      <img src="img/team/developer.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                          <a href="#" title="GitHub" class="socialicon"><i class="icon-github"></i></a>
                      </div>
                  </div>
              </div>

              <div class="personal">
                  <div class="photo">
                      <img src="img/team/seo.png">
                  </div>
                  <div class="userinfo">
                      <div class="name">CHANGE ME</div>
                      <div class="status">CHANGE ME</div>
                      <div class="socialblock">
                          <a href="#" title="Facebook" class="socialicon"><i class="icon-facebook-sign"></i></a>
                          <a href="#" title="Twitter" class="socialicon"><i class="icon-twitter-sign"></i></a>
                          <a href="#" title="Google Plus" class="socialicon"><i class="icon-google-plus-sign"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="colorblock block priceblock">
      <div id="price" class="block-container">

          <h2 class="title">CHANGE ME</h2>
          <div class="description">CHANGE ME</div>
          <div class="pricetable">
              <div class="priceitem bronze">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$9</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>

              <div class="priceitem silver">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$19</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>

              <div class="priceitem gold">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service exclude">
                              <i class="icon-remove-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$29</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>

              <div class="priceitem diamond">
                  <div class="wrapper">
                      <h3 class="title">CHANGE ME</h3>
                      <div class="services-list">
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Admin panel</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Unlimited space</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>Personal design</span>
                          </div>
                          <div class="service include">
                              <i class="icon-ok-sign"></i>
                              <span>24/7 Support</span>
                          </div>
                      </div>
                      <div class="cost">
                          <div class="container">
                              <h1>$39</h1>
                              <span class="line">/month</span>
                          </div>
                      </div>
                      <a href="#" class="button">CHANGE ME</a>
                  </div>
              </div>
          </div>

          <div class="infoblock">
              <h3 class="title">CHANGE ME</h3>
              <div class="subscription">
                  CHANGE ME
              </div>
              <div class="contacticons">
                  <div class="item">
                      <i class="icon-phone"></i>
                      <span class="sign">CHANGE ME</span>
                  </div>

                  <a href="#" class="item">
                      <i class="icon-envelope"></i>
                      <span class="sign">CHANGE ME</span>
                  </a>

                  <a href="#" class="item">
                      <i class="icon-skype"></i>
                      <span class="sign">CHANGE ME</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
 -->
  <div class="block whiteblock blogblock">
    <div id="blog" class="block-container">

      <h2 class="title">My Path to Web Development</h2>
      <div class="description">In a Chronological-esk Resume-esk Format</div>
      <div class="post">
        <h3 class="title">Introduction to Computer Programming</h3>
        <div class="author">2004</div>
        <div class="post-body column-2">
          My last semester at Willamette University, I elected to take a computer programming course. It was taught in Java and for my final product I created an application for novice guitar players, which allowed them to CRUD and playback notes, chords, and songs. It also allowed users to associate notes to chords, and chords to songs. I felt proud of what I accomplished and enjoyed the course, but didn't really make a connection with programming as a career for me. Remember, this was prior to web 2.0.
        </div>
        <h3 class="title">Microsoft Excel Macros and SQL Queries</h3>
        <div class="author">2006-present</div>
        <div class="post-body column-2">
          Starting with my Admin position at Washington Mutual and progressing to current day, if I found a task that was repeated in Excel, I created a macro. MS Excel macros are ugly and not not exactly the most exciting "programming", however, they hold enormous business value.</br>
          During my employment as a Catastrophe Analyst with Guy Carpenter, I often had to operate within MSSQL because the data sets were very large.
        </div>
        <h3 class="title">Founder of Snappacker.com</h3>
        <div class="author">2012</div>
        <div class="post-body column-2">
          When I returned home from my year long trip around the world, I wanted to give back to the travel community that had given so much to me. I began working with a friend on the application. The ultimate goal was a web and mobile app that made long term traveling easier, timely, and more spontaneous. My responsibilities as the founder included:
          <ul>
            <li>Developing initial idea, vision, mission, and MVP.</li>
            <li>Creative design lead. I designed the UX/UI for the entire application.</li>
            <li>Product/project lead. I didn't write the backend code myself, but I came up with the features, the initial release specs, and supervised the AGILE sprint projects associated.</li>
            <li>All business related expenses and administrative duties.</li>
            <li>Pair programmed for some features</li>
          </ul>
          Due to capital constraints, the company/project was put on hold prior to an intial launch. However, this business was the pivot in my trajectory to becoming a programmer.
        </div>
        <h3 class="title">Internet Code Schools</h3>
        <div class="author">2012</div>
        <div class="post-body column-2">
          As noted, Snappacker was put on hold. This was a project dear to my heart and I wasn't going to allow a failure to raise enough capital stop me. Using, books and online tutorials like w3schools railsguides, and hartl, as well as learning aides like codecademy and codeschool, I found myself enthralled. I started with html to get my feet wet and moved my way to ruby. For the first time in my life, <strong>I could envision myself programming as a career</strong>.
        </div>
        <h3 class="title">Pacific Coast Feather</h3>
        <div class="author">2012-2013</div>
        <div class="post-body column-2">
          My title at PCF was CAA or "custormer account analyst", but my goal within the company was to transition into their web development department. As a CAA I discovered several process inefficiencies in the company's software. I was able to lead and implement a technology initiative for cash application in large volumes that saved 50 department work hours each month (equal to about $1,000/month based on average CAA salaries).<br>
          In addition, working with return documentation, I noticed inexplicably high volumes of returns for PCF's online consumer storefront when compared to similar companies, with similar online storefronts, that PCF manufactured product for. I researched, and presented to company executives, a comprehensive plan to update PCF’s online storefront. According to my research, returns would be reduced by at least 10% in the first year (and possibly accompanied by an increase in sales). If this project was approved, I’d be working closely with the web dev team and I hoped that it’d allow me to take on increasing code responsibilities, applying what I learned from online code schools, and eventually transition over to that department. However, the project was put on hold indefinitely due to tight spending and hiring/salary freezes, and I decided to pursue another direction to becoming a professional web developer.
        </div>
        <h3 class="title">Code Fellows</h3>
        <div class="author">2013</div>
        <div class="post-body column-2">
          I wanted to be an employable developer badly and didn't want to wait years to learn code on my own after work. After I weighed my options, Code Fellows was the clear winner. Leaving my job to go back to school full time was a scary prospect, but it was something I had to risk. And it paid off - I'm a full stack Ruby on Rails developer.<br>
          Don't know what Code Fellows is? <a href="https://www.codefellows.org" target="_blank">Code Fellows</a> is a world-class 8 week intensive Ruby on Rails immersive bootcamp taught by industry experts located in the heart of Seattle's tech community. 20 Students are selected to become Fellows from 500+ applicants based on interviews and technical aptitude.
        </div>
        <h3 class="title">Projects</h3>
        <div class="author">2013</div>
        <div class="post-body column-2">
          <strong>Pawzii-TNR</strong> - Mobile and web app to track pet populations.</br>
          <strong>Grubly</strong> - An app for boutique restaurants to track inventory and allow online ordering.</br>
          <strong>Snappacker</strong> - An app for low budget travelers. Includes simplified travel guides, smarter searching for accomodation, and better recommendation system.</br>
          <strong>Rebuilding Rails</strong>- Using the book "Rebuilding Rails", I created a more basic, but similar framework to Rails.
        </div>
        <a href="http://dylangrant.us/projects" class="more-link">View Projects</a>
        <h3 class="title">Giving Back</h3>
        <div class="author">2013-Present</div>
        <div class="post-body column-2">
          Volunteered an evening each week at Code Fellows to help the recent students with their assignments and questions.</br>
          Worked with 8 grade girls for the "Hour of Code" program. The girls used games where they controlled or created the actions with core concepts used in programming like conditionals and loops.
        </div>
        <a href="https://drive.google.com/file/d/0BzCK_nFtvhM_bDF3Rm5LS3B3MW8/edit?usp=sharing" target="_blank" class="more-link">View PDF of My Resume</a>
      </div>
    </div>
  </div>

  <div class="skillsblock block grayblock">
    <div class="block-container">
      <h2 class="title">Tao Principles to Code</h2>
      <div class="description">How Taoist Philosophy Has Influenced My Approach To Web Development</div>
      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <img src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/wood_element_128.png">
            </div>
          </div>
          <h4 class="title">Simplicty</h4>
          <div class="description">
            There's More Than Elegence in Simplicty
          </div>
<!--           <p>Simple code is more than just beautiful, it allows fellow developers to jump in and easily pick up on what the original intentions were. Effective and efficient trade off means happy developers and saves companies money and increases deliverables</p>
 -->        </div>
      </div>
      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <img src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/fire_element_128.png">
            </div>
          </div>
          <h4 class="title">Be Here Now</h4>
          <div class="description">
            Give Everything To Your Current Task
          </div>
<!--           <p>It's easy to get caught up in features and tasks. This counter productive</p>
 -->        </div>
      </div>
      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <img src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/water_element_128.png">
            </div>
          </div>
          <h4 class="title">Dynamic Balance</h4>
          <div class="description">
            Everything Is Connected And Flows Together
          </div>
<!--           <p>This goes beyond design where the implications are pretty obvious.</p>
 -->        </div>
      </div>
      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <img src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/earth_element_128.png">
            </div>
          </div>
          <h4 class="title">Wu Wei</h4>
          <div class="description">
            Never Waste Energy
          </div>
<!--           <p>It may seem a stretch but testing usually saves time and enregy</p>
 -->        </div>
      </div>
      <div class="skillcontainer">
        <div class="wrapper">
          <div class="skillogo">
            <div class="logocontainer">
              <img src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/metal_element_128.png">
            </div>
          </div>
          <h4 class="title">Harmony</h4>
          <div class="description">
            There Is Never Only One Answer
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contacts" class="block colorblock contactsblock">
    <div class="map">
      <img id="map-canvas" src="https://s3-us-west-2.amazonaws.com/dylangrant.us/static_images/seattle_lights.jpg">
    </div>
    <div class="block-container">
      <div class="wrapper">
        <h2 class="title">I'm available for hire or to talk</h2>
        <div class="contact-info">
          <div class="title">Contact via e-mail</div>
          <a href="mailto:dylangrant@gmail.com" target="_top">dylangrant@gmail.com</a>
        </div>

        <div class="contact-info">
          <div class="title">linkedin</div>
          <a href="http://www.linkedin.com/in/dylangrant">linkedin.com/in/dylangrant</a>
        </div>

        <div class="contact-info">
          <div class="title">twitter</div>
          <a href="https://twitter.com/dgrant069">twitter.com/dgrant069</a>
        </div>

        <div class="contact-info">
          <div class="title">facebook</div>
          <a href="https://www.facebook.com/dylan.a.grant">facebook.com/dylan.a.grant</a>
        </div>

        <div class="contact-info">
          <div class="title">github</div>
          <a href="https://github.com/dgrant069">github.com/dgrant069</a>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
