<div class="mainmenu">
  <div class="menuwrapper">
    <div class="menulist">
      <ul class="items">
        <li class="menuitem">
          <%= link_to "PROJECTS", projects_path %>
          </li>
<!--           <li class="menuitem">
            <%= link_to "BLOG", posts_path %>
          </li>
 -->        </ul>
      </div>
        <%= link_to '<span class="companyname">Dylan Grant</span>'.html_safe, root_path, class: "logoblock" %>

        <div class="socialblock">
          <% if user_signed_in? %>
            <%= link_to "#{current_user.name}".html_safe, users_path(@user), class: "currentUser", title: "Profile" %>
            <%= link_to '<i class="fa fa-gear"></i>'.html_safe, destroy_user_session_path, method: :delete, class: "socialicon", title: "Sign Out" %>
          <% else %>
            <%= link_to '<i class="fa fa-facebook-square"></i>'.html_safe, user_omniauth_authorize_path(:facebook), class: "socialicon", title: "Facebook Login" %>
            <%= link_to '<i class="fa fa-twitter-square"></i>'.html_safe, user_omniauth_authorize_path(:twitter), class: "socialicon", title: "Twitter Login" %>
            <%= link_to '<i class="fa fa-google-plus-square"></i>'.html_safe, user_omniauth_authorize_path(:google_oauth2), class: "socialicon", title: "Google Login" %>
            <%= link_to '<i class="fa fa-linkedin-square"></i>'.html_safe, user_omniauth_authorize_path(:linkedin), class: "socialicon", title: "LinkedIn Login" %>
            <%= link_to '<i class="fa fa-gear"></i>'.html_safe, new_user_session_path, class: "socialicon", title: "Sign In" %>
          <% end %>
        </div>
    </div>
</div>
